<form class="" action="Calculadora" method="post">
  <table border="1">
    <tr>
      <td>
        Numero 1
      </td>
      <td>
        Numero 2
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="txtNumero1" value="" id="txtNumero1">
      </td>
      <td>
        <input type="text" name="txtNumero2" value="" id="txtNumero2">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" name="btnEnviar" value="Realizar Operaciones" id="btnEnviar">
      </td>
    </tr>
  </table>
</form>
Suma: {{Suma}} Resta: {{Resta}} Multiplicacion: {{Multi}} Division: {{Division}}
